---
const carrimg  = [
    `/public/imagenes/ img-gith.jpg`,
    `/public/imagenes/imghtml.jpg`,
    `/public/imagenes/imgcss.jpg` ,
    `/public/imagenes/imgjs.jpg` ,
    `/public/imagenes/imgreact`,
    `/public/imagenes/imgjson`
 
]
---


<article id="frame-hab"  >   
    <div id="carrusel" class="grid grid-cols-1 gap-4  ">


     <img src={carrimg[0]} alt="" class="">
     <img src={carrimg[1]} alt="" class="">
     <img src={carrimg[2]} alt="" class="">
     <img src={carrimg[3]} alt="" class="">
     <img src={carrimg[4]} alt="" class="">
     <img src={carrimg[5]} alt="" class="">



   </div>  
 
 
 </article>


 <script>  
    const carrimg = [



    ];

    function carrusel() {


      
       }


    </script>
